body {
  margin: 0;
}

h3 {
    margin-bottom: 0;
}

button.action {
    display: block;
    margin: 12px;
}

a {
  color: rgb(0, 120, 212);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
